.body-game.conteudo {
  box-shadow: 0 0 10px #00000091;
}

body {
  background-color: #f2f2f2;
}

.conteudo {
  width: 1920px;
  height: 1080px;
  position: fixed;
  left: calc(50% - 1920px / 2);
  top: calc(50% - 1080px / 2);
  margin: auto;
  overflow: hidden;
}

.position-absolute.titulo-calendario {
  top: 346.3px;
  left: 689.9px;
  rotate: -4.7deg;
}

.subtitulo-calendario {
  top: 10px;
}

.btn-data {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 1.5rem;
  color: #0e4988;
  font-weight: bold;
}

.btn-data:hover {
  transform: scale(1.1);
}

.btn-iniciar {
  background: linear-gradient(90deg, #f48ab6 0%, #d9427a 100%);
  color: white;
  border: 2px solid #a02355;
  border-radius: 41px;
  padding: 12.3px;
  font-size: 2.5rem;
  top: 893.9px;
  left: 811.3px;
  width: 345.4px;
  height: 92px;
  animation: pulsar 1.5s infinite ease-in-out;
  transition: transform 0.3s ease;
}

.btn-criar-acao {
  background: linear-gradient(90deg, #f48ab6 0%, #d9427a 100%);
  color: white;
  border: 2px solid #a02355;
  border-radius: 30px;
  padding: 4.3px;
  font-size: 2rem;
  top: 958.9px;
  left: 1393.3px;
  width: 239.4px;
}

.btn-criar-acao:hover {
  transform: scale(1.1);
}

.btn-seta {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.btn-seta:hover {
  transform: scale(1.1);
}

.btn-voltar {
  top: 707.2px;
  left: 355.9px;
}

.btn-avancar {
  top: 707.2px;
  left: 1460.2px;
}

.d-none {
  display: none !important;
}

.animando-sumir {
  animation: fadeOutZoom 0.9s forwards;
}

.animando-aparecer {
  animation: fadeInZoom 0.9s forwards;
}

@keyframes fadeOutZoom {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pulsar {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    /* aumenta 10% */
  }

  100% {
    transform: scale(1);
  }
}

/********************************************************************/
/**************************** estilo modal **************************/
/********************************************************************/

.estilo-modal {
  background-color: #ffefd2;
  border: 1px solid #ffefd2;
  border-radius: 30px;
  padding-inline: 28px;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  background-color: #fff0;
  border: none;
}

.box_instrucoes {
  background-image: url("../img/box_instrucoes.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 529px;
}

.box_feedback {
  background-image: url("../img/box.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 589px;
  height: 455px;
}

.btn-fechar-modal {
  background: linear-gradient(90deg, #f48ab6 0%, #d9427a 100%);
  color: white;
  border: 2px solid #a02355;
  border-radius: 30px;
  width: 151px;
  padding: 4.3px;
  font-size: 2rem;
}

.btn-fechar-modal:hover {
  transform: scale(1.1);
  color: white;
}

.btn-continuar {
  background: linear-gradient(90deg, #f48ab6 0%, #d9427a 100%);
  color: white;
  border: 2px solid #a02355;
  border-radius: 30px;
  padding: 4.3px;
  font-size: 2rem;
  position: absolute;
  top: 505px;
  left: 128px;
  width: 196px;
}

.btn-continuar:hover {
  transform: scale(1.1);
  color: white;
}

.btn.btn-fechar-modal.fecha-instrucao {
  position: absolute;
  top: 500px;
  left: 147px;
}

.estilo-modal {
  color: #0e4988;
}

.p-modal {
  color: #0e4988;

  font-size: 1rem;
}

#modalTextoInicial {
  top: 349px;
  margin-inline: 43px;
  color: #0e4989;
  font-size: 1rem;
  left: -10px;
}

.btn-close.transparente {
  position: absolute;
  background-color: #f0f8ff00;
  border: none;
}

.fecha-modal-inicial {
  top: 523px;
  left: 188px;
}

#modalFeedbackLabel {
  margin-top: 70px;
  text-align: center;
  margin-left: 42px;
  color: #0e4988;
  font-weight: bold;
}

#modalInstrucaoLabel {
  text-align: center;
  margin-top: 33.4px;
  color: #0e4988;
  font-weight: bold;
}

#modalInstrucaoLabel2 {
  text-align: center;
  margin-top: 37.5px;
  color: #0e4988;
  font-weight: bold;
}

.btn-close.transparente.x1 {
  top: -19.2px;
  left: 389.7px;
}

#modalTextoFeedback {
  padding: 14px;
  margin-left: 45px;
}

.fecha-feedback {
  position: absolute;
}

.fecha-feedback {
  top: 395px;
  left: 204px;
}

.btn-close.transparente.x2 {
  top: 20px;
  left: 528px;
}

.btn.btn-fechar-modal.fecha-modal-planejamento {
  position: absolute;
  top: 379px;
  left: 179px;
}

#modalTexto {
  margin-left: 39px;
}

#modalPlanejamentoLabel {
  text-align: center;
  margin-top: 53px;
}

.x3 {
  top: 23.2px;
  left: 472.8px;
}

.btn.fecha-modal-final {
  width: 211px;
  left: 289px;
  position: absolute;
}

.p-modal.p-final {
  margin-left: 34px;
  margin-top: 16px;
}

#modalFinalLabel {
  margin-top: 70px;
  text-align: center;
}

/********************************************************************/
/********************** posicionamento botões ***********************/
/********************************************************************/

.btn-fev {
  background-image: url("../img/btn_carnaval.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 191px;
  height: 238px;
  rotate: -8deg;
  top: 509.5px;
  left: 594.4px;
}

.btn-mar {
  background-image: url("../img/btn_mulher.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 191px;
  height: 238px;
  rotate: -8deg;
  top: 533.8px;
  left: 787.4px;
}

.btn-abr {
  background-image: url("../img/btn_pascoa.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 191px;
  height: 238px;
  rotate: -8deg;
  top: 537.8px;
  left: 975.1px;
}

.btn-mai {
  background-image: url("../img/btn_trabalho.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 191px;
  height: 238px;
  rotate: -8deg;
  top: 512.8px;
  left: 1152.1px;
}

.btn-jun {
  background-image: url("../img/btn_familia.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 191px;
  height: 238px;
  rotate: -8deg;
  top: 465.8px;
  left: 1327.1px;
}

.btn-ago {
  background-image: url("../img/btn_empresa.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 191px;
  height: 238px;
  rotate: -8deg;
  top: 509.5px;
  left: 589.4px;
}

.btn-set {
  background-image: url("../img/btn_amarelo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 191px;
  height: 238px;
  rotate: -8deg;
  top: 510.8px;
  left: 784.4px;
}

.btn-out {
  background-image: url("../img/btn_rosa.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 191px;
  height: 238px;
  rotate: -8deg;
  top: 532.8px;
  left: 973.1px;
}

.btn-nov {
  background-image: url("../img/btn_azul.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 191px;
  height: 238px;
  rotate: -8deg;
  top: 478.1px;
  left: 1143.2px;
}

.btn-dez {
  background-image: url("../img/btn_natal.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 191px;
  height: 238px;
  rotate: -8deg;
  top: 491.3px;
  left: 1327.7px;
}

button:focus,
button:active,
button:focus-visible {
  outline: none;
  box-shadow: none;
}

/********************************************************************/
/***************************** segunda tela ************************/
/********************************************************************/

.subtitulo-tela-2 {
  position: absolute;
  top: 114.7px;
  left: 478.2px;
  width: 676.3px;
  color: #0e4988;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.btn-primeira-tela {
  background: linear-gradient(90deg, #f48ab6 0%, #d9427a 100%);
  color: white;
  border: 2px solid #a02355;
  border-radius: 30px;
  width: 216px;
  padding: 4.3px;
  font-size: 2rem;
  top: 965px;
  left: 1318px;
}

.btn-primeira-tela:hover {
  color: white;
  transform: scale(1.1);
}

.btn-instrucao {
  width: 151px;
  top: 137px;
  left: 30px;
}

.btn-instrucao:hover {
  transform: scale(1.1);
}

.btn-seta {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.btn-seta:hover {
  transform: scale(1.1);
}

.btn-voltar-tela2 {
	top: 528.2px;
	left: 123.3px;
}

.btn-avancar-tela2 {
	top: 528.2px;
	left: 1622.6px;
}

.btn-opcoes {
  background-image: url("../img/btn-opcoes.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 273px;
  height: 291px;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  text-align: center;
  white-space: normal !important;
  line-height: 1.2;
  overflow-wrap: break-word;
  padding: 25px;
  color: #0e4988;
  font-weight: bold;
}

.btn-1 {
  top: 332.9px;
	left: 653.9px;
}

.btn-2 {
  top: 330.4px;
left: 992.3px;
}

.btn-3 {
  top: 333.3px;
 left: 1335.0px;
}

.btn-4 {
	top: 627.5px;
	left: 653.9px;
}

.btn-5 {
  top: 629.5px;
left: 992.3px;
}

.btn-6 {
  top: 629.5px;
 left: 1335.0px;
}

.btn-7 {
  top: 329.5px;
 	left: 307.9px;
}

.btn-8 {
	top: 629.6px;
	left: 307.9px;
}

.btn-9 {
  top: 332.9px;
  left: 653.9px;
}

.btn-10 {
  top: 329.5px;
 left: 307.9px;
}

.btn-11 {
  top: 330.4px;
 left: 992.3px;
}

.btn-12 {
  top: 333.3px;
  left: 1335.0px;
}

.btn-13 {
  top: 629.6px;
  left: 307.9px;
}

/**********************************************************************/
/***************************** vire o celular *************************/
/**********************************************************************/

.p-paisagem {
  color: white;
  text-align: center;
}

.modo-smart {
  display: none;
}

.img-paisagem {
  max-width: 70% !important;
  height: auto;
  display: block;
}

@media only screen and (orientation: portrait) {
  .modo-smart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #546da8;
    z-index: 9999999999999999999;
  }
}
